venv-django/
.DS_Store
db.sqlite3
*.sqlite
*db
*.pyo
*.pyc
migrations
*local_settings.py

#Angular files
.DS_Store
node_modules/
typings/
*component.js
*js.map
*module.js
*service.js
*.js
npm-debug.log

.coverage
