<nav class="navbar navbar-inverse new-navbar navbar-fixed">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Logo</a>
    <div class="navbar-header">             
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"> </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>                      
    </div>
    <div class=" collapse navbar-collapse" id="myNavbar">              
      <ul class="nav navbar-nav navbar-right">
        <li>
        <span></span>
        <a (click)="Logout()">{{this.currentUser + '  '}}<span class="glyphicon glyphicon-log-in"></span>
        Logout
        </a></li>
      </ul>
    </div>
  </div>
</nav>

 <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-1 sidenav ">
        <div class="scrollable">
        </div>
      </div>

    <div class="col-sm-5 text-left">                 
    <div class="well well-sm">
      <form (ngSubmit)="CreateBucketList(createBucket.value); createBucket.reset()">
          <input type="text" class="form-control" 
                      placeholder="Create a new BucketList" 
                      required pattern="^\S+\s?\S*\s?\S*\s?\S*\s?\S*\s?" maxlength="50"
                      [ngModel]="model" name="createBucket" #createBucket="ngModel" 
                      data-toggle="tooltip" title="(Max allowed BucketList name size: 50 characters)">
           <div [hidden]="createBucket.valid || createBucket.pristine" class="red">* BucketList name is not Valid.</div>
          <input type="submit" class="btn btn-primary" name="" value="Create BucketList"
           [disabled]="!createBucket.valid">
      </form>

      <!--Span tags to display status messages-->
      <span class="red col-md-offset-2" *ngIf="this.error_create_bucket">
          {{this.error_create_bucket}}
      </span>
      <span class="green col-md-offset-2" *ngIf="this.success_create_bucket">
          {{this.success_create_bucket}}
      </span>  

    </div>

    <div class=" scrollable" >
    <div class="panel panel-default" *ngFor="let bucket of list_of_buckets; let i = index">                          
        <div class="panel-body" (click)="displayCurrentItems(bucket.id, bucket.name)">

              <!--Span tags to display status messages-->
              <span class="red" [id]="'error-bucket-' + bucket.id"></span>
              <span class="green" [id]="'success-bucket-' + bucket.id"></span>

              <span>{{i+1+this.pageCount}}. {{bucket.name}}</span>
        </div>
        <div class="panel-footer">Date Modified: {{bucket.date_modified}}  .
            <a class="green" id="{{bucket.id}}" data-toggle="modal" [attr.data-target]="'#UpdateModalItems' + i" href="">
                <span class="glyphicon glyphicon-edit">Edit</span>
            </a>
            <a class="red" id="{{bucket.id}}" data-toggle="modal" [attr.data-target]="'#DeleteModalItems' + i" href="">
                <span class="glyphicon glyphicon-trash">Delete</span>
            </a>

            <!-- Update Modal -->
              <div class="modal fade" [id]="'UpdateModalItems' + i" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content modal-margin" modal-backdrop="false">
                  <div class="modal-header">
                    <form >
                        <input type="text" class="form-control" [ngModel]="bucket.name"
                               name="updateBucket" required maxlength="50"
                               #updateBucket="ngModel" required pattern="^\S+\s?\S*\s?\S*\s?\S*\s?\S*\s?" 
                               data-toggle="tooltip" title="(Max allowed BucketList name size: 50 characters)">
                         <div [hidden]="updateBucket.valid" class="red">* BucketList name is not Valid.</div>
                        <input type="button" class="btn btn-info" value="Update" 
                                data-dismiss="modal" [disabled]="!updateBucket.valid"
                                (click)="UpdateBucketList(updateBucket.value, bucket.id)">
                        <input type="button" class="btn" data-dismiss="modal" value="Cancel">
                    </form>
                  </div>       
                </div>                                      
               </div>
            </div>

            <!-- Delete Modal -->
              <div class="modal" [id]="'DeleteModalItems' + i" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content modal-margin">
                  <div class="modal-header">
                    <p><strong>Do you want to Delete Bucketlist: {{bucket.name}}?</strong></p>
                    <form >
                      <input type="button" (click)="DeleteBucketList(bucket.id)" data-dismiss="modal"
                             class="btn btn-danger" value="Delete">
                      <input type="button" class="btn" data-dismiss="modal" value="Cancel">
                    </form>
                  </div>       
                </div>                                      
               </div>
            </div>
        </div>                       
     </div>

    </div>
    <ul class="pager">
      <li class="previous" [class.disabled]="this.page_pervious===null" (click)="PreviousPage(this.page_pervious)">
              <a>Previous</a>
      </li>
      <li class="next" [class.disabled]="this.page_next===null" (click)="NextPage(this.page_next)">
              <a>Next</a>
      </li>
    </ul>     

    </div>
    <div class="col-sm-6 sidenav">                
    <items [bucketlistId]="validId" [bucketName]="bucketlistName" > Loading... </items>               
    </div>
</div>
