<div class="col-sm-5 text-left">                   
<div class="well well-sm">
    <form (ngSubmit)="CreateBucketListForm(createBucket.value); createBucket.reset()">
        <input type="text" class="form-control" 
                    placeholder="Create a new BucketList" 
                    required pattern="[A-Za-z0-9-.\s]+" maxlength="50"
                    [ngModel]="model" name="createBucket" #createBucket="ngModel" 
                    data-toggle="tooltip" title="(Max allowed BucketList name size: 50 characters)">
         <div [hidden]="createBucket.valid" class="red">* BucketList name is not Valid.</div>
        <input type="submit" class="btn btn-primary" name="" value="Create BucketList" [disabled]="!createBucket.valid">
    </form>
    <!--Span tags to display status messages-->
    <span class="red" id="error-create-bucket"></span>
    <span class="green" id="success-create-bucket"></span>  

</div>
<div class=" scrollable" >
  <div class="panel panel-default" *ngFor="let bucket of list_of_buckets; let i = index">                          
      <div class="panel-body" (click)="displayCurrentItems(bucket.id, bucket.name)">

            <!--Span tags to display status messages-->
            <span class="red" [id]="'error-bucket-' + bucket.id"></span>
            <span class="green" [id]="'success-bucket-' + bucket.id"></span>

            <span>{{i+1}}. {{bucket.name}}</span>
      </div>
      <div class="panel-footer">Date Modified: {{bucket.date_modified}}  .
          <a class="green" id="{{bucket.id}}" data-toggle="modal" [attr.data-target]="'#UpdateModalItems' + i" href="">
              <span class="glyphicon glyphicon-edit">Edit</span>
          </a>
          <a class="red" id="{{bucket.id}}" data-toggle="modal" [attr.data-target]="'#DeleteModalItems' + i" href="">
              <span class="glyphicon glyphicon-trash">Delete</span>
          </a>

          <!-- Update Modal -->
            <div class="modal fade" [id]="'UpdateModalItems' + i" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content modal-margin">
                <div class="modal-header">
                  <form (ngSubmit)="UpdateBucketList(updateBucket.value); updateBucket.reset()">
                      <input type="text" class="form-control" [ngModel]="bucket.name"
                             name="updateBucket" required
                             #updateBucket="ngModel" pattern="[A-Za-z0-9-.\s]+" maxlength="50"
                             data-toggle="tooltip" title="(Max allowed BucketList name size: 50 characters)">
                       <div [hidden]="updateBucket.valid" class="red">* BucketList name is not Valid.</div>
                      <input type="submit" class="btn btn-info" value="Update" [disabled]="!updateBucket.valid">
                      <input type="button" class="btn" data-dismiss="modal" value="Cancel">
                  </form>
                </div>       
              </div>                                      
             </div>
          </div>

          <!-- Delete Modal -->
            <div class="modal fade" [id]="'DeleteModalItems' + i" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content modal-margin">
                <div class="modal-header">
                  <p><strong>Do you want to Delete Bucketlist: {{bucket.name}}?</strong></p>
                  <input type="button" class="btn btn-danger" value="Delete">
                  <input type="button" class="btn" data-dismiss="modal" value="Cancel">
                </div>       
              </div>                                      
             </div>
          </div>
      </div>                       
   </div>                 
</div>
<ul class="pager">
  <li class="previous disabled"><a href="#">Previous</a></li>
  <li class="next"><a href="#">Next</a></li>
</ul>     

</div>
<div class="col-sm-6 sidenav">                
<items [bucketlistId]="validId" [bucketName]="bucketlistName" > Loading... </items>               
</div>