<div class="well well-sm">
    <form (ngSubmit)="CreateItemForm(createitem.value, this.bucketlistId); createitem.reset()">
        <input type="text" class="form-control" 
                placeholder="Create a new item in : {{this.bucketName}}" 
                required pattern="^\S+\s?\S*\s?\S*\s?\S*\s?\S*\s?" maxlength="50"
                [ngModel]="model" name="createitem" #createitem="ngModel"
                data-toggle="tooltip" title="(Max allowed Item name size: 50 characters)" >
         <div [hidden]="createitem.valid || createitem.pristine" class="red">* Item name is not Valid.</div>
        <input type="submit" class="btn btn-primary" name="" value="Create Item" [disabled]="!createitem.valid">
    </form>

     <!--Span tags to display status messages-->
     <span class="red" id="error-create-item"></span>
     <span class="green" id="success-create-item"></span>  

</div>
<div class="scrollable">                 
   <div class="well well-sm" *ngFor="let item of getItemsId(); let i = index ">

   <!--Span tags to display status messages-->
   <span class="red" [id]="'error-item-' + i"></span>
   <span class="green" [id]="'success-Item-' + i"></span> 

    <p><span [class]="getDoneStatus(item.done)">{{' ' + (i+1)}}</span>{{item.name}}</p>
    <p>Date Modified: {{item.date_modified}}</p> 

    <a class="green" data-toggle="modal" [attr.data-target]="'#UpdateModal' + i"  href="#">
         <span class="glyphicon glyphicon-edit">Edit</span>
    </a>

    <a class="red" data-toggle="modal" [attr.data-target]="'#DeleteModal' + i"  href="#">
        <span class="glyphicon glyphicon-trash">Delete</span>
    </a>

    <!-- Update Modal -->
    <div class="modal fade" [id]="'UpdateModal' + i" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content modal-margin">
        <div class="modal-header">
           <form>
             <input type="text" class="form-control" data-toggle="tooltip"  
                required pattern="^\S+\s?\S*\s?\S*\s?\S*\s?\S*\s?" maxlength="50" required
                [ngModel]="item.name" name="updatename" #updatename="ngModel"
                title="(Max allowed Item name size: 50 characters)" value="{{item.name}}">  
             <div [hidden]="updatename.valid" class="red">* Item name is not Valid.</div>                             
             <div [ngSwitch]="item.done">
               <p>
                   <label >Done :</label>
                   <input type="checkbox" *ngSwitchCase="true" [ngModel]="'checked'" name="updatedone"
                           #updatedone="ngModel" (click)="onChange($event)">
                   <input type="checkbox" *ngSwitchDefault [ngModel]="" #updatedone="ngModel" 
                           name="updatedone" (click)="onChange($event)">
                </p>
              </div>
              <input type="button" class="btn btn-info" value="Update" [disabled]="!updatename.valid" 
                  (click)="UpdateItemForm(updatename.value, this.bucketlistId, item.id)"  
                  data-dismiss="modal">
              <input type="button" class="btn" data-dismiss="modal" value="Cancel">
           </form>
        </div>       
      </div>
     </div>                                     
   </div>                                      
    
  <!-- Delete Modal -->
    <div class="modal fade" [id]="'DeleteModal' + i" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content modal-margin">
        <div class="modal-header">
          <p><strong>Do you want to Delete Item: {{item.name}}?</strong></p>
          <input type="button" class="btn btn-danger" value="Delete" data-dismiss="modal"
                  (click)="DeleteItemForm(this.bucketlistId, item.id)">
          <input type="button" class="btn" data-dismiss="modal" value="Cancel">
        </div>       
       </div>                                      
      </div>
     </div>                    
    
 </div>                                     
</div>